@font-face {
    font-family: 'Lexend';
    src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap" rel="stylesheet');
}

/*Barra de navegação */
* {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
}

.menu-content {
    background-color: #379E53;
    color: white;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.menu #logo {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 5rem;
}

.menu .textosAdm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.menu #busca {
    align-items: center;
    padding: 0.7rem 0.7rem;
    width: 10rem;
    border: none;
    border-radius: 1.5rem;
}

.perfil {
    background-color: #245631;
    text-align: center;
    width: 28%;
    padding: 0.7rem 1rem; /* Adiciona preenchimento interno */
}

.perfil h3{
    margin: 1rem 1rem;
}

.menuAdm {
    background-color: #FFFFFF;
    color: #379E53;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.2rem;
}

.menuAdm h4:hover {
    color: #3CE66A;
    cursor: pointer;
}

.menu h3:hover {
    color: rgb(91, 91, 91);
    cursor: pointer;
    font-weight: 600;
}

.menu h3 {
    margin-right: 1rem;
}