* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  .menu-content {
    background-color: #379e53;
    color: white;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  #su-logo {
    cursor: pointer;
  }
  
  .menu #su-logo {
    font-size: 250%;
    font-weight:600;
    margin-left: 5rem;
  }