@font-face {
    font-family: 'Lexend';
    src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap" rel="stylesheet');
}
/*Barra de navegação */
* { 
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
}

.menu-content{
    background-color: #379E53;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.menu #logo{
    font-size: xx-large;
    font-weight: bold;
margin-left: 5rem;
}

.menu #cadastre{
    padding: 4px 4px;
    text-align: center;
    background-color: white;
    color: #379E53;
    font-weight: bold;
    border: 1px white solid; 
    border-radius: 15px;  
}

.menu .textos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}
.menu h3:hover{  
    color: rgb(192, 192, 192);
}
.menu h3{
    margin-right: 1rem;
}
/*---------*/
.imgPc{
    background-image: url('../src/assets/Home/pchome.png' );
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15rem ;
margin-bottom: 4%;
}
.frases{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 15rem;
   
}
.frases h1{
    font-weight: bold;
    font-size: 500%;
}
.frases p{
    font-size: x-large;
    font-weight: bold;
    color: #5B5B5B;
    margin-top: 0.50rem;
}
.pc-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
text-align: center;
margin-top: 5rem;
}
.frases h1, span{
    color: #379E53;
}
.frases span{
    font-weight: bolder;
}
/*---------*/
.dicas-content{
    background-color: #83B791;
   
}

.dicas h2{
    font-weight: bold;
    color: #FFFFFF;
}
#caixas h4{
    text-align: center;
   color: #379E53;
   font-weight:800;

}
#caixas{
    color: #5B5B5B;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 4px 4px 2px 4px;
    box-shadow: 1px 1px 1px 1px #5B5B5B;
}
#caixas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#caixas p{
    font-size: small;
    font-weight: bold;
}
.caixas-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#caixas #icon-1, #icon-2, #icon-3{
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1.50rem 1.50rem;
        
}

#caixas #icon-1{
    background-image: url('../src/assets/Home/coment.png' );
}
#caixas #icon-2{
    background-image: url('../src/assets/Home/pen.png' );
}
#caixas #icon-3{
    background-image: url('../src/assets/Home/light.png' );
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu #logo{
        margin-bottom: 1rem;
    }

    .menu #cadastre{
        width: 100%;
        font-size: small;
    }
}
