.butoes {
    display: flex;
    gap: 20px; 
}
.titulo{
  display: flex;
  margin-left: 150px;
  margin-bottom: 1rem;
}
.titulo p{
  font-size: 40px;
  font-weight: bolder;
  

}
.titulo h1{
  color: #379E53;
  margin-left: 5px;
}
.butoes{
  margin-left: 50px;
}
.btn{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.336);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.452);
    color: #379E53;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
  }
  .btn:hover {
    border-color: #379E53;
}
  .fa-cadastrar{
    background-image: url("../../assets/funcionario/+.png");
    width: 20px;
    height: 15px;
    margin-left: 5px;
    margin-top: 4px;
  }
  .fa-ticket{
    background-image: url("../../assets/funcionario/TrainTicket.png");
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }

  .fa-atualizar{
    background-image: url("../../assets/funcionario/AvailableUpdates.png");
    width: 35px;
    height: 25px;
    margin-left: 5px;
    padding-bottom: 5px;
  }

  .fa-historico{
    background-image: url("../../assets/funcionario/Group.png");
    width: 25px;
    height: 25px;
    margin-left: 5px;
    padding-bottom: 5px;
  }

  
 .btn p{ 
    font-size: 20px;
    color: #379E53;
    font-weight: bolder;
  }