* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
}

body {
  background-color: #f4f4f4;
}

.menu-content {
  background-color: #379e53;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#ls-logo {
  cursor: pointer;
}

.menu #ls-logo {
  font-size: 250%;
  font-weight:600;
  margin-left: 5rem;
}

.menu #cadastre {
  padding: 4px 4px;
  text-align: center;
  background-color: white;
  color: #379E53;
  font-weight: bold;
  border: 1px white solid;
  border-radius: 25px;
  padding: 6px 12px 6px 12px;
}

.menu #cadastre:hover{
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.menu .textos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  gap: 2rem;
  cursor: pointer;
}

.menu h3:hover {
  color: rgb(192, 192, 192);
}

.menu h3 {
  margin-right: 1rem;
}